<div id="<%= dom_id photo %>">
  <p>
    <strong>Photo:</strong>
    <%= photo.photo_id %>
  </p>

  <p>
    <strong>Alt text:</strong>
    <%= photo.alt_text %>
  </p>

  <p>
    <strong>User:</strong>
    <%= photo.user_id %>
  </p>

</div>
