<% content_for :title, "Editing photo" %>

<h1>Editing photo</h1>

<%= render "form", photo: @photo, gallery: @gallery %>

<br>

<div>
    <%= link_to "Back to Gallery", gallery_path(@gallery), class: "btn-sm" %>