<div id="<%= dom_id gallery %>">

  <p>
    <strong>Name:</strong>
    <%= gallery.name %>
  </p>

  <p>
    <strong>Hidden:</strong>
    <%= gallery.hidden %>
  </p>

  <p>
    <strong>User:</strong>
    <%= gallery.user_id %>
  </p>

</div>
