<p style="color: green"><%= notice %></p>

<% content_for :title, "Galleries" %>

<h1>Galleries</h1>

<div id="galleries">
  <% @galleries.each do |gallery| %>
    <div class="card pt-2">
        <div class="card-title">
            <%= link_to gallery.name, gallery_path(gallery) %>
        </div>
        <div class="card-text">
            <%= gallery.description %>
        </div>
    </div>
  <% end %>
</div>

<%= link_to "New gallery", new_gallery_path %>
