<% content_for :title, "Galleries" %>

<h2>Galleries</h2>

<div id="galleries">
  <% @galleries.each do |gallery| %>
    <div class="card pt-2">
        <div class="card-title">
            <%= link_to gallery.name, gallery_path(gallery) %>
        </div>
        <div class="card-text">
            <%= gallery.description %>
        </div>
    </div>
  <% end %>
</div>
<% if !current_user.nil? && !@gallery.nil? && current_user.id == @gallery.user_id %>
  <%= link_to "New gallery", new_gallery_path %>
<% end %>
